{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté sous le pseudo {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}
    <br>
    <label class="col-sm-4 offset-4" for="inputEmail">Login</label>
    <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control col-sm-4 offset-4" required autofocus>
    <br>
    <label class="col-sm-4 offset-4" for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control col-sm-4 offset-4" required>
    <br>
    <div class="col-sm-4 offset-4">
        <input type="checkbox" id="remember_me" name="_remember_me"/>
        <label for="remember_me">Se souvenir de moi</label>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </div>
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    <br>
    <div class="center-div">
    <button class="btn btn-outline-dark" type="submit">
        Me connecter
    </button>
    </div>
</form>
{% endblock %}
