{% extends 'base.html.twig' %}

{% block title %}Annuler sortie{% endblock %}

{% block body %}

    <h3 id="textcenter">Annuler la sortie</h3>
    <br>

    <div class="row col-sm-8 offset-4">

        <div class="center-class">
            <dl class="row">
                <dt class="col-sm-3">Nom :</dt>
                <dd class="col-sm-9">{{ sortie.nom }}</dd>

                <dt class="col-sm-3">Date :</dt>
                <dd class="col-sm-9">{{ sortie.dateSortie | date('d-m-Y') }}</dd>

                <dt class="col-sm-3">Site :</dt>
                <dd class="col-sm-9">{{ sortie.site.nom }}</dd>

                <dt class="col-sm-3">Lieu :</dt>
                <dd class="col-sm-9">{{ sortie.lieu }}</dd>

                <dt class="col-sm-3">Motif d'annulation :</dt>
            </dl>
            {{ form_start(formAnnulation) }}
            {{ form_widget(formAnnulation) }}
            <div class="col-sm-4">
                <button class="btn btn-outline-dark"type="submit">Enregistrer</button>
                <a class="btn btn-outline-dark" href="{{ path('sortie_list') }}">Annuler</a>
            </div>
            {{ form_end(formAnnulation) }}
        </div>


    </div>

{% endblock %}