{% extends 'base.html.twig' %}

{% block title %}Annuler sortie{% endblock %}

{% block body %}

    <h3 id="textcenter">Annuler la sortie</h3>
    <br>
    <dl class="row">
        <dt class="col-sm-3 offset-3">Nom : </dt>
        <dd class="col-sm-6">{{ sortie.nom }}</dd>

        <dt class="col-sm-3 offset-3">Date : </dt>
        <dd class="col-sm-6">{{ sortie.dateSortie | format_datetime(locale='fr') }}</dd>

        <dt class="col-sm-3 offset-3">Site :</dt>
        <dd class="col-sm-6">{{ sortie.site.nom }}</dd>

        <dt class="col-sm-3 offset-3">Lieu :</dt>
        <dd class="col-sm-6">{{ sortie.lieu }}</dd>

        <dt class="col-sm-3 offset-3">Motif d'annulation :</dt>
        {{ form_start(formAnnulation) }}
        {{ form_widget(formAnnulation) }}
                <button id="btn-soumission-profil" class="btn btn-outline-dark btn-soumission" type="submit">Enregistrer</button>
        {{ form_end(formAnnulation) }}
    </dl>
    <div class="center-div">
    <a class="btn btn-outline-dark btn-soumission" href="{{ path('sortie_list') }}">Annuler</a>
    </div>

{% endblock %}