{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert-{{ label }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}

{#        {{ form_start(filtreForm) }}#}
{#        <p>Filtrer les sorties</p>#}
{#        <div class="col-sm-12 form-group row">#}
{#        <div class="inline-block col-5">#}
{#            <div class="row filtre">#}
{#                {{ form_label(filtreForm.site) }}{{ form(filtreForm.site) }}#}
{#            </div>#}
{#            <div class="row filtre">#}
{#                {{ form_label(filtreForm.search) }}{{ form(filtreForm.search) }}#}
{#                <label class="col-form-label col-form-label-sm col-6" for="search">Le nom de la sortie contient#}
{#                    : </label>#}
{#                <input class="form-control form-control-sm col-6" type="search" name="search" id="search"#}
{#                       placeholder="search">#}
{#            </div>#}
{#            <div class="row col-12 filtre">#}
{#                {{ form_label(filtreForm.dateDebut) }}{{ form(filtreForm.dateDebut) }}#}
{#                {{ form_label(filtreForm.dateFin) }}{{ form(filtreForm.dateFin) }}#}
{#                <label class="col-sm-2 col-form-label col-form-label-sm col-2" for="dateDebut">entre</label>#}
{#                <input class="form-control form-control-sm col-4" type="date" name="dateDebut" id="dateDebut">#}

{#                <label class="col-sm-2 col-form-label col-form-label-sm col-2" for="dateFin">et</label>#}
{#                <input class="form-control form-control-sm col-4" type="date" name="dateFin" id="dateFin">#}


{#            </div>#}
{#        </div>#}

{#        {{ form_end(filtreForm) }}#}





        <form action="{{ url('sortie_list') }}" method="post" class="form-example container-fluid">
            <p>Filtrer les sorties</p>
            <div class="col-sm-12 form-group row">
                <div class="inline-block col-5">
                    <div class="row filtre">
                        <label class="col-sm-2 col-form-label col-form-label-sm col-" for="site">Site :</label>
                        <select class="form-control  form-control-sm col-10" name="site" id="site">
                            <option></option>
                            {% for site in sites %}
                                <option> {{ site.nom }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row filtre">
                        <label class="col-form-label col-form-label-sm col-6" for="search">Le nom de la sortie contient
                            : </label>
                        <input class="form-control form-control-sm col-6" type="search" name="search" id="search" placeholder="search">
                    </div>
                    <div class="row col-12 filtre">



                            <label class="col-sm-2 col-form-label col-form-label-sm col-2" for="dateDebut">entre</label>
                            <input class="form-control form-control-sm col-4" type="date" name="dateDebut" id="dateDebut">

                            <label class="col-sm-2 col-form-label col-form-label-sm col-2" for="dateFin">et</label>
                            <input class="form-control form-control-sm col-4" type="date" name="dateFin" id="dateFin">


                    </div>
                </div>

                <div class="inline-block col-4 check">
                    <div class="row filtre">
                        <input type="checkbox" name="organisateur" value="organisateur"> Sorties dont je suis
                        l'organisateur/trice<br>
                    </div>
                    <div class="row filtre">
                        <input type="checkbox" name="inscrit" value="inscrit"> Sorties auxquelles je suis inscrit/e<br>
                    </div>
                    <div class="row filtre">
                        <input type="checkbox" name="nonInscrit" value="nonInscrit"> Sorties auxquelles je ne suis pas
                        inscrit/e<br>
                    </div>
                    <div class="row filtre">
                        <input type="checkbox" name="sortiesPassees" value="sortiesPassees"> Sorties passées<br>
                    </div>
                </div>
                <div class="inline-block col-sm-2 col-2">
                    <input class="bouton btn btn-outline-dark" type="submit" value="Rechercher">
                </div>
            </div>
        </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Date de clôture</th>
            <th scope="col">Inscrits/places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td><a href="{{ path('sortie_detail', {'id':sortie.id}) }}">{{ sortie.nom }}</a></td>
                <td>{{ sortie.dateSortie | format_datetime(locale='fr') }}</td>
                <td>{{ sortie.dateCloture | date("d/m/Y") }}</td>
                <td>{{ sortie.inscriptions | length }}/{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat }}</td>
                <td>{% for inscription in sortie.inscriptions %}
                        {% if app.user and inscription.participant.id == app.user.id %}
                            x
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('userprofile', {'id':sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a>
                </td>
                <td>

{#                    ACTIONS POSSIBLES#}
{#                    SORTIE EN CREA + ORG CONNECTE#}
                <div id="actions">
                    {% if sortie.etat.id == 1 and sortie.organisateur.id == app.user.id %}
                        <form action="" method="post">
                            <button id="boutonsActions" type="submit" title="Modifier">
                                <img src="{{ asset('img/icons8-modifier-16.png') }}">
                            </button>
                        </form>
                        <form action="{{ path('delete_party', {'id':sortie.id}) }}" method="post">
                            <button id="boutonsActions" type="submit" title="Supprimer">
                                <img src="{{ asset('img/icons8-effacer-16.png') }}">
                            </button>
                        </form>
                        <form action="{{ path('publish_party', {'id':sortie.id}) }}" method="post">
                            <button id="boutonsActions" type="submit" title="Publier">
                                <img src="{{ asset('img/icons8-épingle-16.png') }}">
                            </button>
                        </form>

                    {% endif %}

{#                    SORTIE OUVERTE + ORG CONNECTE#}
                    {% if sortie.etat.id == 2 and sortie.organisateur.id == app.user.id %}
                        <form action="{{ path('cancel_party', {'id':sortie.id}) }}" method="post">
                            <button id="boutonsActions" type="submit" title="Annuler">
                                <img src="{{ asset('img/icons8-annuler-2-16.png') }}">
                            </button>
                        </form>
                    {% endif %}

{#                        INSCRIPTION POSSIBLE #}
{#                        SI PAS INSCRIT, ETAT OUVERT, NB INSCRIP MAX NON ATTEINT ET DATE CLOTURE NON ATTEINTE #}
                    {% if app.user.isInscrit(sortie) == false
                        and sortie.isInscrirePossible() %}
                             <form action="{{ path('sortie_subscribe', {'id':sortie.id}) }}" method="post">
                                <button id="boutonsActions" type="submit" title="S'inscrire">
                                    <img src="{{ asset('img/icons8-add-user-male-16.png') }}">
                                </button>
                             </form>
                    {% endif %}

{#                        DESINSCRIPTION POSSIBLE #}
{#                         SI INSCRIT, DATE CLOTURE NON ATTEINTE, ET ETAT OUVERT OU CLOTURE #}
                        {% if app.user.isInscrit(sortie)
                            and sortie.isDesinscrirePossible() %}
                            <form action="{{ path('sortie_unsubscribe', {'id':sortie.id}) }}" method="post">
                                <button id="boutonsActions" type="submit" title="Se désinscrire">
                                    <img src="{{ asset("img/icons8-supprimer-l'utilisateur-homme-16.png") }}">
                                </button>
                            </form>

                        {% endif %}

{#                    ARCHIVAGE POSSIBLE #}
{#                    SI ADMIN #}
                    {% if is_granted('ROLE_ADMIN')
                        and sortie.isArchivagePossible() %}
                        <form action="{{ path('archive_party', {'id':sortie.id}) }}" method="post">
                            <button id="boutonsActions" type="submit" title="Archiver">
                                <img src="{{ asset("img/icons8-archive-16.png") }}">
                            </button>
                        </form>
                    {% endif %}
                </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}