{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert-{{ label }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}

    <form action="{{ url('sortie_list') }}" method="post" class="form-example container-fluid">
        <p>Filtrer les sorties</p>
        <div class="col-sm-12 form-group row">
            <div class="inline-block col-5">
                <div class="row filtre">
                    <label class="col-sm-2 col-form-label col-form-label-sm col-" for="site">Site :</label>
                    <select class="form-control  form-control-sm col-10" name="site" id="site">
                        <option></option>
                        {% for site in sites %}
                            <option> {{ site.nom }} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row filtre">
                    <label class="col-form-label col-form-label-sm col-6" for="search">Le nom de la sortie contient
                        : </label>
                    <input class="form-control form-control-sm col-6" type="search" name="search" id="search" placeholder="search">
                </div>
                <div class="row col-12 filtre">


                        <label class="col-sm-2 col-form-label col-form-label-sm col-2" for="dateDebut">entre</label>
                        <input class="form-control form-control-sm col-4" type="date" name="dateDebut" id="dateDebut">

                        <label class="col-sm-2 col-form-label col-form-label-sm col-2" for="dateFin">et</label>
                        <input class="form-control form-control-sm col-4" type="date" name="dateFin" id="dateFin">


                </div>
            </div>

            <div class="inline-block col-4 check">
                <div class="row filtre">
                    <input type="checkbox" name="organisateur" value="organisateur"> Sorties dont je suis
                    l'organisateur/trice<br>
                </div>
                <div class="row filtre">
                    <input type="checkbox" name="inscrit" value="inscrit"> Sorties auxquelles je suis inscrit/e<br>
                </div>
                <div class="row filtre">
                    <input type="checkbox" name="nonInscrit" value="nonInscrit"> Sorties auxquelles je ne suis pas
                    inscrit/e<br>
                </div>
                <div class="row filtre">
                    <input type="checkbox" name="sortiesPassees" value="sortiesPassees"> Sorties passées<br>
                </div>
            </div>
            <div class="inline-block col-sm-2 col-2">
                <input class="bouton btn btn-outline-dark" type="submit" value="Rechercher">
            </div>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Date de clôture</th>
            <th scope="col">Inscrits/places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td><a href="{{ path('sortie_detail', {'id':sortie.id}) }}">{{ sortie.nom }}</a></td>
                <td>{{ sortie.dateSortie | format_datetime(locale='fr') }}</td>
                <td>{{ sortie.dateCloture | date("d/m/Y") }}</td>
                <td>{{ sortie.inscriptions | length }}/{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat }}</td>
                <td>{% for inscription in sortie.inscriptions %}
                        {% if app.user and inscription.participant.id == app.user.id %}
                            x
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('userprofile', {'id':sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a>
                </td>
                <td>
{#                    ACTIONS POSSIBLES#}
{#                    SORTIE EN CREA + ORG CONNECTE#}
                    {% if app.user and sortie.etat.id == 1 and sortie.organisateur.id == app.user.id %}
                        <a href="">Modifier</a>
                        <a href="">Supprimer</a>
                        <a href="">Publier</a>
                    {% endif %}

{#                    SORTIE OUVERTE + ORG CONNECTE#}
                    {% if app.user and sortie.etat.id == 2 and sortie.organisateur.id == app.user.id %}
                        <a href="{{ path('cancelorg', {'id':sortie.id}) }}">Annuler</a>
                    {% endif %}

{#                    SORTIE OUVERTE + PAS FULL #}
                    {% if sortie.etat.id == 2
                        and sortie.inscriptions.count < sortie.nbInscriptionsMax
                        and sortie.dateCloture > dateJour %}
                        {% set participation = false %}
                        {% for inscription in sortie.inscriptions %}
                            {% if app.user and inscription.participant.id == app.user.id %}
                                {% set participation = true %}
                            {% endif %}
                        {% endfor %}
{#                              SELON INSCRIPTION#}
                        {% if participation == true %}
                            <a href="{{ path('sortie_unsubscribe', {'id':sortie.id}) }}">Se désinscrire</a>
                        {% else %}
                            <a href="{{ path('sortie_subscribe', {'id':sortie.id}) }}">S'inscrire</a>
                        {% endif %}
                    {% endif %}

{#                    SORTIE CLOTUREE #}
                    {% if sortie.etat.id == 3 %}
                        {% set participation = false %}
                        {% for inscription in sortie.inscriptions %}
                            {% if inscription.participant.id == app.user.id %}
                                {% set participation = true %}
                            {% endif %}
                        {% endfor %}
{#                              SELON INSCRIPTION #}
                        {% if participation == true %}
                            <a href="">Se désinscrire</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}