{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="jumbotron mt-2">
        <h1 class="text-center display-4 lead">{{ page_name }}</h1>
        <div class="form-row form-group row nom">
            <div class="form-group col-sm-6">
                <div class="row">
                    <div class="col-6"><p>{{ form_label(form.nom) }}</p></div>
                    <div class="col-6">{{ form_widget(form.nom) }}</div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6"><p>{{ form_label(form.dateSortie) }}</p></div>
                    <div class="col-6">{{ form_widget(form.dateSortie) }}</div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6"><p>{{ form_label(form.dateCloture) }}</p></div>
                    <div class="col-6">{{ form_widget(form.dateCloture) }}</div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6"><p>{{ form_label(form.nbInscriptionsMax) }}</p></div>
                    <div class="col-3">{{ form_widget(form.nbInscriptionsMax) }}</div>
                    <div class="col-3"><p></p></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6"><p>{{ form_label(form.duree) }}</p></div>
                    <div class="col-2">{{ form_widget(form.duree) }}</div>
                    <div class="col-4"><p></p> minutes</div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6"><p>{{ form_label(form.descriptionInfos) }}</p></div>
                    <div class="col-6">{{ form_widget(form.descriptionInfos) }}</div>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <div class="row">
                    <div class="col-4"><p>{{ form_label(form.lieu) }}</p></div>
                    <div class="col-4">{{ form(form.lieu) }}</div>

                    <a href="{{ path('lieu') }}">

                        <img src="{{ asset('img/ajouter.png') }}" alt="Ajouter un lieu"/>
                    </a>
                    </button>
                </div>
                {#                                <div class="row">#}
                {#                                    <div class="col-6"><p>Ville :</p></div>#}
                {#                                    <div class="col-6">{{ form(formLieu.ville) }}</div>#}
                {#                                </div>#}
                {#                                <div class="row">#}
                {#                                    <div class="col-6"><p>Rue :</p></div>#}
                {#                                    <div class="col-6">{{ form(formLieu.rue) }}</div>#}
                {#                                                </div>#}

                {#                            <div class="form-group">#}
                {#                                <label for="selectVilleLieu">Ville</label>#}
                {#                                <select class="form-control" id="selectVilleLieu">#}
                {#                                    {% for ville in listVille %}#}
                {#                                        <div class="col-8"><p>Ville :</p></div>#}
                {#                                        <div class="col-4"><option>{{ ville.nomVille }}</option></p></div>#}
                {#                                    {% endfor %}#}
                {#                                </select>#}
                {#                            </div>#}

                {{ form_end(form) }}
                <div class="modal-body">


                    <div class="row">
                        <div class="col-6"><p>Ville :</p></div>

                        <select class="col-6" id="selectVilleLieu">
                            {% for ville in listVille %}
                                <option>{{ ville.nomVille }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-6"><p>Rue :</p></div>
                        <div class="col-6">
                            <input type="nom" class="formVille" id="nomLieu" aria-describedby="nomLieu"
                                   placeholder=""></div>
                    </div>
                    <div class="row">
                        <div class="col-6"><p>Code postal :</p></div>
                        <div class="col-6">
                            <input type="nom" class="formVille" id="nomLieu" aria-describedby="nomLieu"
                                   placeholder=""></div>
                    </div>
                    <div class="row">
                        <div class="col-6"><p>Latitude :</p></div>
                        <div class="col-6">
                            <input type="nom" class="formVille" id="nomLieu" aria-describedby="nomLieu"
                                   placeholder=""></div>
                    </div>
                    <div class="row">
                        <div class="col-6"><p>Longitude :</p></div>
                        <div class="col-6">
                            <input type="nom" class="formVille" id="nomLieu" aria-describedby="nomLieu"
                                   placeholder=""></div>
                    </div>


                </div>
            </div>

        </div>
    </div>
    </div>
    </div>

{% endblock %}
