{% extends 'base.html.twig' %}

{% block title %}Voir profil{% endblock %}

{% block body %}

    <h3 id="textcenter">{{ user.pseudo }}</h3>
    <br>

    <dl class="row">
{#        ajout de l'avatar - en phase de test pour l'instant #}
        <dt class="col-sm-2 offset-4">Photo : </dt>
        <dd class="col-sm-6">{{ user.photo }}</dd>

        <dt class="col-sm-2 offset-4">Nom : </dt>
        <dd class="col-sm-6">{{ user.nom }}</dd>

        <dt class="col-sm-2 offset-4">Prénom : </dt>
        <dd class="col-sm-6">{{ user.prenom }}</dd>

        <dt class="col-sm-2 offset-4">Téléphone : </dt>
        <dd class="col-sm-6">{{ user.telephone }}</dd>

        <dt class="col-sm-2 offset-4">Email : </dt>
        <dd class="col-sm-6">{{ user.email }}</dd>

        <dt class="col-sm-2 offset-4">Site de rattachement :</dt>
        <dd class="col-sm-6">{{ user.site }}</dd>
    </dl>

    <a id="buttoncenter" class="btn btn-primary" href="{{ path('sortie_list') }}">Retour</a>

{% endblock %}